// out:false
.dialog {
  &-large {
    // width    : var(--section-width);
    width: 1136px;
    max-width: 100%;

    @media (max-width:$sm) {
      width: 100%;
    }

    @media(max-width:$md) {}
  }

  &-small {
    width    : 540px;
    max-width: 100%;
  }

  &-middle {
    width    : 620px;
    max-width: 100%;

    @media (max-width:$sm) {
      width: 100%;
    }

  }
}