<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Worked</title>
</head>

<body>
	<div id="top"></div>
	<section class="nav">
		<button data-scroll="#top" class="nav__item btn btn--link btn--primary color-text">Главная</button>
		<button data-scroll="#types" class="nav__item btn btn--link btn--primary color-text">Виды грузов</button>
		<button data-scroll="#advantages" class="nav__item btn btn--link btn--primary color-text">Преимущества</button>
		<button data-scroll="#park" class="nav__item btn btn--link btn--primary color-text">Автопарк</button>
		<button data-scroll="#reviews" class="nav__item btn btn--link btn--primary color-text">Отзывы</button>
		<button data-scroll="#questions" class="nav__item btn btn--link btn--primary color-text">Вопрос-ответ</button>
		<button data-scroll="#footer" class="nav__item btn btn--link btn--primary color-text">Контакты</button>
	</section>

	<header class="header">
		<button class="btn btn-small mr-4 btn--primary btn--link p-2 d-lg-none" data-toggle-link="menu">
			<svg class="icon text-subtitle-1">
				<use xlink:href="img/icons.svg#menu" />
			</svg>
		</button>
		<div class="header-logo">
			<div class="header-logo__img mr-3 mr-lg-6">
				<img src="img/logo.svg" alt="">
			</div>
			<div class="header-logo__text">
				<div class="text-small text-lg-subtitle-1 text-md-body-0 text--demibold">Люкс Логистик</div>
				<div class="text-small text-lg-body-2 fade-60 font-alt">
					Логистическая компания <br>
					<span class="d-none d-lg-block">
						междугородных перевозок
					</span>
				</div>
			</div>
		</div>
		<a href="javascript:;" class="header-contact btn btn--primary btn--link">
			<svg class="icon">
				<use xlink:href="img/icons.svg#email-contur" />
			</svg>
			<div class="font-alt color-text">
				<div class="text-subtitle-2 lh-1">Luks.logistik@yandex.ru</div>
				<div class="text-body-2 ">Пишите по всем вопросам</div>
			</div>
		</a>
		<a href="javascript:;" class="header-contact btn btn--primary btn--link">
			<svg class="icon">
				<use xlink:href="img/icons.svg#phone-contur" />
			</svg>
			<div class="font-alt">
				<div class="text-subtitle-2 lh-1 color-text font-alt">8 800 600 54 88</div>
				<button class="btn btn--primary btn--link text--dashed text-body-2 text--demibold font-alt">Заказать
					обратный
					звонок</button>
			</div>
		</a>
		<a href="javascript:;" class="btn btn-small ml-auto btn--primary btn--link p-2 d-lg-none">
			<svg class="icon text-subtitle-1">
				<use xlink:href="img/icons.svg#phone-contur" />
			</svg>
		</a>
	</header>

	<div class="menu" id="menu">
		<header class="header menu__header">
			<button class="btn btn-small mr-4 btn--primary btn--link p-2 d-lg-none" data-toggle-link="menu">
				<svg class="icon text-subtitle-1">
					<use xlink:href="img/icons.svg#cross" />
				</svg>
			</button>
			<div class="header-logo">
				<div class="header-logo__img mr-3 mr-lg-6">
					<img src="img/logo.svg" alt="">
				</div>
				<div class="header-logo__text">
					<div class="text-small text-lg-subtitle-1 text-md-body-0 text--demibold">Люкс Логистик</div>
					<div class="text-small text-lg-body-2 fade-60 font-alt">
						Логистическая компания <br>
						<span class="d-none d-lg-block">
							междугородных перевозок
						</span>
					</div>
				</div>
			</div>
		</header>
		<div class="menu__list">
			<button
				class="menu__item btn btn--primary btn--link color-text p-4 w-100 flex-justify-start">Главная</button>
			<button class="menu__item btn btn--primary btn--link color-text p-4 w-100 flex-justify-start">Виды
				грузов</button>
			<button
				class="menu__item btn btn--primary btn--link color-text p-4 w-100 flex-justify-start">Преимущества</button>
			<button
				class="menu__item btn btn--primary btn--link color-text p-4 w-100 flex-justify-start">Автопарк</button>
			<button
				class="menu__item btn btn--primary btn--link color-text p-4 w-100 flex-justify-start">Отзывы</button>
			<button
				class="menu__item btn btn--primary btn--link color-text p-4 w-100 flex-justify-start">Вопрос-ответ</button>
			<button
				class="menu__item btn btn--primary btn--link color-text p-4 w-100 flex-justify-start">Конакты</button>
		</div>
		<div class="px-4">
			<button class="btn btn--primary btn--fill mt-5 mb-5 w-100">
				<svg class="icon mr-2">
					<use xlink:href="img/icons.svg#calculator" />
				</svg>
				Рассчитать стоимость
			</button>
		</div>
		<div class="px-4 mt-auto pb-7">
			<a href="javascript:;" class="menu-contact btn btn--primary btn--link mt-auto">
				<svg class="icon">
					<use xlink:href="img/icons.svg#email-contur" />
				</svg>
				<div class="font-alt color-text">
					<div class="text-subtitle-2 lh-1">Luks.logistik@yandex.ru</div>
					<div class="text-body-2 ">Пишите по всем вопросам</div>
				</div>
			</a>
			<a href="javascript:;" class="menu-contact btn btn--primary btn--link mt-5">
				<svg class="icon">
					<use xlink:href="img/icons.svg#phone-contur" />
				</svg>
				<div class="font-alt">
					<div class="text-subtitle-2 lh-1 color-text font-alt">8 800 600 54 88</div>
					<button class="btn btn--primary btn--link text--dashed text-body-2 text--demibold font-alt">Заказать
						обратный
						звонок</button>
				</div>
			</a>
		</div>
	</div>
	<div class="menu-shadow"></div>

	<section class="started">
		<div class="started__content">
			<div class="started__title -el-hid- -el-right-">
				Грузоперевозки <br>
				<span class="color-primary">по всей России</span> от 200кг
			</div>
			<div class="started__desc -el-hid- -el-right-">
				Соблюдаем сроки доставки и гарантируем <br>
				максимальную сохранность груза по договору
			</div>
			<ul class="started__list">
				<li class="-el-hid- -el-up-">
					<svg class="icon">
						<use xlink:href="img/icons.svg#circle-check" />
					</svg>
					Работаем с ФИЗ и ЮР лицами
				</li>
				<li class="-el-hid- -el-up- -delay-200-">
					<svg class="icon">
						<use xlink:href="img/icons.svg#circle-check" />
					</svg>
					Предоставим персонального менеджера
				</li>
				<li class="-el-hid- -el-up- -delay-400-">
					<svg class="icon">
						<use xlink:href="img/icons.svg#circle-check" />
					</svg>
					Возможна перевозка в составе сборной машины
				</li>
			</ul>
			<div class="started__pray -el-hid- -el-up- -delay-500-">
				<div class="text-body-0 text--bold">
					Оставьте заявку до 25 июля <br>
					и получите до 10% скидку
				</div>
				<button class="btn btn--primary btn--fill mt-5">
					<svg class="icon mr-2">
						<use xlink:href="img/icons.svg#calculator" />
					</svg>
					Рассчитать стоимость
				</button>

				<div class="started__pray-img">
					<img src="img/started-pray.png" alt="">
				</div>
			</div>
			<div class="started__form with-suggest">
				<div class="form-field mb-4">
					<div class="form-input-cover">
						<input type="text" class="form-input" placeholder="Откуда" data-suggest-view>
					</div>
				</div>
				<div class="form-field mb-4">
					<div class="form-input-cover">
						<input type="text" class="form-input" placeholder="Куда" data-suggest-view>
					</div>
				</div>
				<div class="form-field">
					<div class="form-input-cover">
						<input type="text" class="form-input" placeholder="Номер телефона">
					</div>
				</div>
				<button class="btn btn--primary btn--fill mt-5 text-body-2 text--demibold w-100">
					<svg class="icon mr-2">
						<use xlink:href="img/icons.svg#calculator" />
					</svg>
					Рассчитать стоимость
				</button>
				<div class="text-small-1 mt-4 fade-60">
					Отправляя форму Вы даете согласие на обработку
					Ваших персональных данных
				</div>
			</div>
		</div>
		<div class="started__img -el-hid- -el-left-">
			<img src="img/started-track.png" alt="">
		</div>
	</section>

	<section class="fitches">
		<div class="fitches-block">
			<div class="swiper grid-wrap">
				<div class="swiper-wrapper">
					<div class="grid-col-12 grid-col-lg-4 swiper-slide">
						<div class="fitches-item">
							<svg class="icon">
								<use xlink:href="img/icons.svg#shield-check" />
							</svg>
							<div>
								<div class="text-body-2 text-md-body-1 text--demibold font-alt mb-1">Страхование груза
								</div>
								<div class="text-small text-md-body-2 font-alt fade-60">
									Если требуется дополнительная гарантия,
									мы оформим страховой полис на Ваше имя
									у наших партнеров
								</div>
							</div>
						</div>
					</div>
					<div class="grid-col-12 grid-col-lg-4 swiper-slide">
						<div class="fitches-item">
							<svg class="icon">
								<use xlink:href="img/icons.svg#doc" />
							</svg>
							<div>
								<div class="text-body-2 text-md-body-1 text--demibold font-alt mb-1">Полный пакет
									документов</div>
								<div class="text-small text-md-body-2 font-alt fade-60">
									Взаимодействие с бухгалтерией клиента,
									отправка оригиналов закрывающих
									документов в течение 2-х дней
								</div>
							</div>
						</div>
					</div>
					<div class="grid-col-12 grid-col-lg-4 swiper-slide">
						<div class="fitches-item">
							<svg class="icon">
								<use xlink:href="img/icons.svg#user" />
							</svg>
							<div>
								<div class="text-body-2 text-md-body-1 text--demibold font-alt mb-1">Персональный
									менеджер</div>
								<div class="text-small text-md-body-2 font-alt fade-60">
									За каждым клиентом закрепляется
									индивидуальный менеджер, который
									будет на связи 24/7
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<button class="btn btn-xsmall btn-fab btn--white-bg slider-nav slider-prev d-lg-none">
				<svg class="icon">
					<use xlink:href="./img/icons.svg#to-left" />
				</svg>
			</button>
			<button class="btn btn-xsmall btn-fab btn--white-bg slider-nav slider-next d-lg-none">
				<svg class="icon">
					<use xlink:href="./img/icons.svg#to-right" />
				</svg>
			</button>
		</div>
	</section>
	<script>
		new Swiper('.fitches-block .swiper', {
			slidesPerView: 'auto',
			watchSlidesProgress: true,
			lazy: true,
			navigation: {
				nextEl: '.fitches-block .slider-next',
				prevEl: '.fitches-block .slider-prev'
			}
		})
	</script>

	<section class="types" id="types">
		<div class="types__title title -el-hid- -el-up-">Основные виды перевозимых грузов</div>
		<div class="types__subtitle subtitle -el-hid- -el-up-">Подберем оптимально подходящий для перевозки вашего груза автомобиль</div>
		<div class="grid">
			<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
				<div class="types-item h-100">
					<div class="types-item__img">
						<img src="img/types/1.png" alt="">
					</div>
					<div class="types-item__content text--center">
						<div class="text-body-2 text--demibold text-md-subtitle-2 mb-2">Продукты питания</div>
						<div class="text-small text-md-body-2 font-alt fade-60">
							Для доставки продуктов питания
							с различной упаковкой и режимом
							перевозки используются
							специализированные автомобили
						</div>
					</div>
				</div>
			</div>
		</div>

		<button class="btn btn--primary btn--fill mt-10 mx-auto -el-hid- -el-right-">
			<svg class="icon mr-2">
				<use xlink:href="img/icons.svg#calculator" />
			</svg>
			Рассчитать стоимость
		</button>
		<div class="types__sign -el-hid- -el-up-">
			Это бесплатно!
			<img src="img/types-sign.png" alt="">
		</div>
	</section>

	<section class="advantages section-rounded" id="advantages">
		<div class="advantages__title title -el-hid- -el-up-">С нами не только выгодно, но и комфортно</div>
		<div class="advantages__subtitle subtitle -el-hid- -el-up-">
			Ознакомьтесь внимательно с нашими преимуществами и будьте уверены в своем выборе
		</div>

		<div class="advantages-slider">
			<div class="swiper ">
				<div class="swiper-wrapper">
					<% for(let i=0; i < 6; i++){ %>

						<div class="advantages-item swiper-slide">
							<img src="img/advantages/1.png" alt="" class="icon">
							<div class="font-alt">
								<div class="text-body-2 text-md-body-1 text--demibold color-red mb-1 mb-md-0">Работа с
									ЮР/ФИЗ лицами</div>
								<div class="text-small text-md-body-2 fade-60">
									Подберем оптимальные условия
									перевозки в максимально сжатые сроки
								</div>
							</div>
						</div>

						<% } %>
				</div>

			</div>
			<button class="btn btn-xsmall btn-fab btn--white-bg slider-nav slider-prev d-lg-none">
				<svg class="icon">
					<use xlink:href="./img/icons.svg#to-left" />
				</svg>
			</button>
			<button class="btn btn-xsmall btn-fab btn--white-bg slider-nav slider-next d-lg-none">
				<svg class="icon">
					<use xlink:href="./img/icons.svg#to-right" />
				</svg>
			</button>
		</div>
	</section>
	<script>
		new Swiper('.advantages-slider .swiper', {
			slidesPerView: 1,
			watchSlidesProgress: true,
			spaceBetween: 20,
			lazy: true,
			grid: {
				rows: 2
			},
			navigation: {
				nextEl: '.advantages-slider .slider-next',
				prevEl: '.advantages-slider .slider-prev'
			},
			breakpoints: {
				[MEDIA.md]: {
					slidesPerView: 2,
					spaceBetween: 40,
				},
				[MEDIA.lg]: {
					slidesPerView: 3,
					spaceBetween: 40,
				},
			}
		})
	</script>

	<section class="pray">
		<div class="pray-form -el-hid-">
			<div class="pray-form__header">
				<div class="text-body-1 text--demibold text-md-h6 color-primary font-alt mb-2">В течение 2 часов</div>
				<div class="text-subtitle-1 text-md-h2 color-white">Получите бесплатный расчет стоимости вашей
					грузоперевозки</div>
			</div>
			<div class="pray-form__sect">
				<div class="grid grid-spacing-md-6">
					<div class="grid-col-12">
						<label class="form-field">
							<div class="text--demibold color-white d-none d-md-block">Инфо о грузе (что перевозите,
								примерный вес)</div>
							<div class="form-input-cover d-none d-md-flex">
								<input type="text" class="form-input" placeholder="Напишите о вашем грузе...">
							</div>
							<div class="form-input-cover d-md-none ">
								<textarea class="form-input"
									placeholder="Инфо о грузе (что перевозите, примерный вес)"></textarea>
							</div>
						</label>
					</div>
					<div class="grid-col-md-6">
						<div class="form-field">
							<div class="text--demibold color-white d-none d-md-block">Откуда выезд</div>
							<div class="form-input-cover">
								<input type="text" class="form-input" placeholder="Укажите адрес..."
									data-mobile-placeholder="Откуда" data-suggest-view>
							</div>
						</div>
					</div>
					<div class="grid-col-md-6">
						<div class="form-field">
							<div class="text--demibold color-white d-none d-md-block">Куда везем</div>
							<div class="form-input-cover">
								<input type="text" class="form-input" placeholder="Укажите адрес..."
									data-mobile-placeholder="Куда" data-suggest-view>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="pray-form__footer">
				<div class="grid grid-spacing-md-6">

					<div class="grid-col-md-6">
						<label class="form-field">
							<div class="text--demibold color-white d-none d-md-block">Ваше имя</div>
							<div class="form-input-cover">
								<input type="text" class="form-input" placeholder="Укажите имя..."
									data-mobile-placeholder="Укажите ваше имя">
							</div>
						</label>
					</div>
					<div class="grid-col-md-6">
						<label class="form-field">
							<div class="text--demibold color-white d-none d-md-block">Ваш телефон</div>
							<div class="form-input-cover">
								<input type="text" class="form-input" placeholder="+7 ( _ _ _ ) _ _ _ - _ _ - _ _"
									data-mobile-placeholder="Номер телефона">
							</div>
						</label>
					</div>
				</div>

				<div class="d-lg-flex flex-align-center mt-10">
					<button class="btn btn--primary btn--fill w-100 w-md-auto">
						<svg class="icon mr-2">
							<use xlink:href="img/icons.svg#calculator" />
						</svg>
						Рассчитать стоимость
					</button>
					<div class="text-small-1 text-md-body-2 fade-40 color-white ml-lg-7 mt-5 mt-lg-0">
						Отправляя форму Вы даете согласие на обработку <br>
						Ваших персональных данных
					</div>

				</div>
			</div>
		</div>
	</section>

	<section class="park" id="park">
		<div class="park__title title -el-hid- -el-up-">Наш автопарк</div>
		<div class="park__subtitle subtitle -el-hid- -el-up-">
			Оперативно подберем необходимый транспорт и оптимальный маршрут для перевозки груза
		</div>
		<div class="grid">
			<div class="grid-col-6 grid-col-md-4 grid-col-lg-3">
				<div class="park-item h-100">
					<div class="park-item__img image image--rect">
						<img src="img/park/1.png" alt="">
					</div>
					<div class="park-item__content">
						<div class="text-body-2 text--demibold text-md-subtitle-2 text--center">
							120-ка полуприцеп + прицеп <br>
							60-120 М3 (автопоезд)
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="reviews" id="reviews">
		<div class="reviews__title title -el-hid- -el-up-">Отзывы наших клиентов</div>
		<div class="reviews__subtitle subtitle -el-hid- -el-up-">Каждый день мы получаем положительные отзывы от наших постоянных
			клиентов</div>
		<div class="slider slider-reviews">
			<div class="swiper grid-wrap grid-spacing-6">
				<div class="swiper-wrapper">
					<div class="swiper-slide grid-col-12 grid-col-lg-3 grid-col-md-4">
						<div class="reviews__item">
							<img class="reviews__img" src="img/reviews/1.png" alt="">
						</div>
					</div>
					<div class="swiper-slide grid-col-12 grid-col-lg-3 grid-col-md-4">
						<div class="reviews__item">
							<img class="reviews__img" src="img/reviews/2.png" alt="">
						</div>
					</div>
					<div class="swiper-slide grid-col-12 grid-col-lg-3 grid-col-md-4">
						<div class="reviews__item">
							<img class="reviews__img" src="img/reviews/3.png" alt="">
						</div>
					</div>
					<div class="swiper-slide grid-col-12 grid-col-lg-3 grid-col-md-4">
						<div class="reviews__item">
							<img class="reviews__img" src="img/reviews/4.png" alt="">
						</div>
					</div>
					<div class="swiper-slide grid-col-12 grid-col-lg-3 grid-col-md-4">
						<div class="reviews__item">
							<img class="reviews__img" src="img/reviews/1.png" alt="">
						</div>
					</div>
					<div class="swiper-slide grid-col-12 grid-col-lg-3 grid-col-md-4">
						<div class="reviews__item">
							<img class="reviews__img" src="img/reviews/2.png" alt="">
						</div>
					</div>
					<div class="swiper-slide grid-col-12 grid-col-lg-3 grid-col-md-4">
						<div class="reviews__item">
							<img class="reviews__img" src="img/reviews/3.png" alt="">
						</div>
					</div>
					<div class="swiper-slide grid-col-12 grid-col-lg-3 grid-col-md-4">
						<div class="reviews__item">
							<img class="reviews__img" src="img/reviews/4.png" alt="">
						</div>
					</div>
				</div>
			</div>
			<button class="slider-reviews__btn slider-btn slider-prev">
				<svg class="icon">
					<use xlink:href="img/icons.svg#to-left" />
				</svg>
			</button>
			<button class="slider-reviews__btn slider-btn slider-next">
				<svg class="icon">
					<use xlink:href="img/icons.svg#to-right" />
				</svg>
			</button>
		</div>
		<button class="btn btn--primary btn--fill mt-10 mx-auto">Оставить отзыв</button>
	</section>

	<script>
		new Swiper('.slider-reviews .swiper', {
			slidesPerView: 'auto',
			watchSlidesProgress: true,
			navigation: {
				nextEl: '.slider-reviews .slider-next',
				prevEl: '.slider-reviews .slider-prev'
			}
		})
	</script>

	<section class="questions" id="questions">
		<div class="questions__title title -el-hid- -el-up-">Вопросы и ответы по грузоперевозкам</div>
		<div class="questions__subtitle subtitle -el-hid- -el-up-">Мы собрали для вас самые популярные и часто задаваемые вопросы</div>
		<div class="questions__items">
			<div class="questions__item -el-hid-" data-toggle-cover>
				<div class="questions__head" data-toggle-link>
					<div class="questions__name">
						<svg class="questions__icon icon mr-4">
							<use xlink:href="img/icons.svg#question" />
						</svg>
						<div class="questions__name-text font-alt">Сколько займет переезд?</div>
					</div>
					<div class="questions__sign">
						<span class="questions__line questions__line--1"></span>
						<span class="questions__line questions__line--2"></span>
					</div>
				</div>
				<div class="questions__body" data-toggle-content data-toggle-height="true">
					<p class="questions__text pt-5 pb-2">
						C каждым клиентом заключается договор. В нем фиксируются все условия и договоренности, а также
						наша ответственность за сохранность имущества. В нашей компании действуют собственные Стандарты
						организации переезда. Все сотрудники неукоснительно соблюдают его, а Служба контроля качества
						следит за этим. Мы точно планируем все предстоящие работы и согласовываем их с вами. Если нужно,
						то за несколько дней до переезда привезем коробки, скотч и другие упаковочные материалы, чтобы
						вы могли собрать вещи без нашего участия.
					</p>
				</div>
			</div>
			<div class="questions__item -el-hid-" data-toggle-cover>
				<div class="questions__head" data-toggle-link>
					<div class="questions__name">
						<svg class="questions__icon icon mr-4">
							<use xlink:href="img/icons.svg#question" />
						</svg>
						<div class="questions__name-text font-alt">Не нашел нужную услугу на сайте, как я могу связаться
							и
							уточнить что мне нужно?</div>
					</div>
					<div class="questions__sign">
						<span class="questions__line questions__line--1"></span>
						<span class="questions__line questions__line--2"></span>
					</div>
				</div>
				<div class="questions__body" data-toggle-content data-toggle-height="true">
					<p class="questions__text pt-5 pb-2">
						C каждым клиентом заключается договор. В нем фиксируются все условия и договоренности, а также
						наша ответственность за сохранность имущества. В нашей компании действуют собственные Стандарты
						организации переезда. Все сотрудники неукоснительно соблюдают его, а Служба контроля качества
						следит за этим. Мы точно планируем все предстоящие работы и согласовываем их с вами. Если нужно,
						то за несколько дней до переезда привезем коробки, скотч и другие упаковочные материалы, чтобы
						вы могли собрать вещи без нашего участия.
					</p>
				</div>
			</div>
			<div class="questions__item -el-hid-" data-toggle-cover>
				<div class="questions__head" data-toggle-link>
					<div class="questions__name">
						<svg class="questions__icon icon mr-4">
							<use xlink:href="img/icons.svg#question" />
						</svg>
						<div class="questions__name-text font-alt">Не нашел нужную услугу на сайте, как я могу связаться
							и
							уточнить что мне нужно?</div>
					</div>
					<div class="questions__sign">
						<span class="questions__line questions__line--1"></span>
						<span class="questions__line questions__line--2"></span>
					</div>
				</div>
				<div class="questions__body" data-toggle-content data-toggle-height="true">
					<p class="questions__text pt-5 pb-2">
						C каждым клиентом заключается договор. В нем фиксируются все условия и договоренности, а также
						наша ответственность за сохранность имущества. В нашей компании действуют собственные Стандарты
						организации переезда. Все сотрудники неукоснительно соблюдают его, а Служба контроля качества
						следит за этим. Мы точно планируем все предстоящие работы и согласовываем их с вами. Если нужно,
						то за несколько дней до переезда привезем коробки, скотч и другие упаковочные материалы, чтобы
						вы могли собрать вещи без нашего участия.
					</p>
				</div>
			</div>
			<div class="questions__item -el-hid-" data-toggle-cover>
				<div class="questions__head" data-toggle-link>
					<div class="questions__name">
						<svg class="questions__icon icon mr-4">
							<use xlink:href="img/icons.svg#question" />
						</svg>
						<div class="questions__name-text font-alt">Как мы гарантируем сохранность вашего имущества?
						</div>
					</div>
					<div class="questions__sign">
						<span class="questions__line questions__line--1"></span>
						<span class="questions__line questions__line--2"></span>
					</div>
				</div>
				<div class="questions__body" data-toggle-content data-toggle-height="true">
					<p class="questions__text pt-5 pb-2">
						C каждым клиентом заключается договор. В нем фиксируются все условия и договоренности, а также
						наша ответственность за сохранность имущества. В нашей компании действуют собственные Стандарты
						организации переезда. Все сотрудники неукоснительно соблюдают его, а Служба контроля качества
						следит за этим. Мы точно планируем все предстоящие работы и согласовываем их с вами. Если нужно,
						то за несколько дней до переезда привезем коробки, скотч и другие упаковочные материалы, чтобы
						вы могли собрать вещи без нашего участия.
					</p>
				</div>
			</div>
			<div class="questions__item -el-hid-" data-toggle-cover>
				<div class="questions__head" data-toggle-link>
					<div class="questions__name">
						<svg class="questions__icon icon mr-4">
							<use xlink:href="img/icons.svg#question" />
						</svg>
						<div class="questions__name-text font-alt">Кому вы доверяете свои вещи?</div>
					</div>
					<div class="questions__sign">
						<span class="questions__line questions__line--1"></span>
						<span class="questions__line questions__line--2"></span>
					</div>
				</div>
				<div class="questions__body" data-toggle-content data-toggle-height="true">
					<p class="questions__text pt-5 pb-2">
						C каждым клиентом заключается договор. В нем фиксируются все условия и договоренности, а также
						наша ответственность за сохранность имущества. В нашей компании действуют собственные Стандарты
						организации переезда. Все сотрудники неукоснительно соблюдают его, а Служба контроля качества
						следит за этим. Мы точно планируем все предстоящие работы и согласовываем их с вами. Если нужно,
						то за несколько дней до переезда привезем коробки, скотч и другие упаковочные материалы, чтобы
						вы могли собрать вещи без нашего участия.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="logistician">
		<div class="logistician__block -el-hid-">
			<div class="logistician__info">
				<div class="logistician__title">
					Задайте вопрос <br>
					нашему логисту
				</div>
				<div class="logistician__subtitle">
					или получите бесплатный расчет <br>
					стоимости доставки
				</div>
			</div>
			<form class="logistician__form">
				<div class="grid grid-spacing-7">
					<div class="grid-col-12 grid-col-lg-6">
						<label class="form-field mb-4">
							<div class="logistician__name text--demibold mb-2">Имя</div>
							<div class="form-input-cover">
								<input type="text" class="form-input" placeholder="Введите имя">
							</div>
						</label>
						<label class="form-field">
							<div class="logistician__name text--demibold mb-2">Телефон</div>
							<div class="form-input-cover">
								<input type="text" class="form-input" placeholder="+7 ">
							</div>
						</label>
					</div>
					<div class="grid-col-12 grid-col-lg-6">
						<div class="logistician__name text--demibold mb-2">Ваш вопрос</div>
						<div class="form-input-cover logistician__textarea">
							<textarea class="form-input h-100" placeholder="Напишите здесь..."></textarea>
						</div>
					</div>
					<div class="grid-col-12">
						<div class="logistician__items flex flex-align-center">
							<button class="logistician__btn btn btn--primary btn--fill mr-5" type="submit">Задать
								вопрос</button>
							<span class="logistician__politic">
								Отправляя форму Вы даете согласие на обработку <br>
								Ваших персональных данных
							</span>
						</div>
					</div>
				</div>
			</form>
		</div>
	</section>

	<footer class="footer" id="footer">
		<div class="footer__top">
			<div class="footer__title">Наши контакты</div>
			<button class="footer__btn btn btn--primary btn--fill mt-5">
				<svg class="icon mr-2">
					<use xlink:href="img/icons.svg#calculator" />
				</svg>
				Рассчитать стоимость
			</button>
		</div>
		<div class="footer__map" data-toggle-cover>
			<div class="footer__head mx-auto font-alt" data-toggle-link>
				<span class="footer__head-item footer__head-item--1">Развернуть карту</span>
				<span class="footer__head-item footer__head-item--2">Свернуть карту</span>
			</div>
			<div data-toggle-content data-toggle-height="true">
				<div class="map" id="map"></div> 
			</div>
		</div>
		<div class="footer__bottom">
			<div class="footer__item footer__item--main">
				<div class="footer__img footer__img--1">
					<img class="icon" src="img/logo-white.svg" alt="">
				</div>
				<div class="footer__info">
					<div class="footer__subtitle">Люкс Логистик</div>
					<div class="footer__text footer__text--1">
						Логистическая компания <br>
						междугородных перевозок
					</div>
				</div>
			</div>
			<div class="footer__item footer__item--mail">
				<div class="footer__img footer__img--2">
					<img class="icon" src="img/Message.svg" alt="">
				</div>
				<div class="footer__info">
					<a class="footer__link footer__link--mail"
						href="mailto: Luks.logistik@yandex.ru">Luks.logistik@yandex.ru</a>
					<div class="footer__text footer__text--2">Пишите по всем вопросам</div>
				</div>
			</div>
			<div class="footer__item footer__item--tel">
				<div class="footer__img footer__img--3">
					<img class="icon" src="img/wt.svg" alt="">
				</div>
				<div class="footer__info">
					<a class="footer__link footer__link--tel font-alt" href="tel: 8 800 600 54 88">8 800 600 54 88</a>
					<div class="footer__text footer__text--3">Написать в WhatsApp</div>
				</div>
			</div>
		</div>
	</footer>

</body>

</html>