@import '../ui/scss/_variables.scss';
@import '../ui/scss/_functions.scss';

:root {
	@include getColors(#EB3D32, "primary");
	@include getColors(#CE9B44, "sec");
	@include getColors(#0092E4, "blue");
	@include getColors(#FF9820, "yellow");
	@include getColors(#31A043, "green");
	@include getColors(#C2332A, "red");
	@include getColors(#828A99, "icon");
	@include getColors(#2B2D2E, "text");

	--bg1: #E9EAEC;
	--bg2: #F4F5F6;
	--bg3: #FFFFFF;

	--spacing: 4px;

	--radius-small: 8px;
	--radius-middle: 12px;
	--radius-large: 16px;

	--media-lg: #{$lg};
	--media-md: #{$md};
	--media-sm: #{$sm};

	--font-base: 'Manrope', Arial, Helvetica, sans-serif;
	--font-alt: 'Inter', Arial, Helvetica, sans-serif;

	--zi-l1: 321;
	--zi-l2: 322;
	--zi-l3: 323;
	--zi-l4: 324;
	--zi-l5: 325;
	--zi-l6: 326;
	--zi-l7: 327;
	--zi-l8: 328;
	--zi-l9: 329;
}

[data-theme="dark"] {
	@include getColors(#ffffff, text);

	--bg1: #181818;
	--bg2: #282828;
	--bg3: #323232;
}

body {
	color: var(--color-text);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background: #F6F6F6;

	* {
		font-family: var(--font-base);
	}

}

.active-enabled {
	display: none !important;
}

.toggle-active,
.tab-active,
.active {
	.active-disabled {
		display: none !important;
	}

	.active-enabled {
		display: flex !important;
	}
}

.header {
	display: flex;
	align-items: center;
	padding-top: 24px;
	background: #FFFFFF;

	@media (max-width:$md) {
		background: #F6F6F6;
		padding-top: 6px;
		padding-bottom: 6px;

	}

	&-logo {
		display: flex;
		align-items: center;
		margin-right: auto;

		&__img {
			@media (max-width:$lg) {
				width: 40px;
			}
		}
	}

	&-contact {
		display: flex;
		align-items: center;

		@media (max-width:$lg) {
			display: none;
		}

		&+& {
			margin-left: 60px;
		}

		.icon {
			font-size: 32px;
			color: var(--color-primary);
			margin-right: 16px;
		}
	}
}

.started {
	padding-top: 66px;
	padding-bottom: 52px;
	position: relative;
	background: #FFFFFF;

	@media (max-width:$md) {
		padding-top: 24px;
	}

	&__content {
		position: relative;
		z-index: 2;
	}

	&__title {
		font-weight: 800;
		font-size: 48px;
		margin-bottom: 18px;
		line-height: 125%;

		@media (max-width:$lg) {
			font-size: 36px;
		}

		@media (max-width:$md) {
			font-size: 28px;
			margin-bottom: 12px;
		}
	}

	&__desc {
		font-family: var(--font-alt);
		font-style: normal;
		font-weight: 400;
		font-size: 22px;

		@media (max-width:$lg) {
			font-size: 18px;
		}

		@media (max-width:$md) {
			font-size: 16px;
		}
	}

	&__list {
		margin-top: 40px;

		@media (max-width:$md) {
			margin-top: 20px;
		}

		li {
			display: flex;
			align-items: center;

			@media (max-width:$md) {
				font-size: 12px;
			}

			.icon {
				font-size: 30px;
				margin-right: 10px;
				color: var(--color-primary);

				@media (max-width:$md) {
					font-size: 24px;
					margin-right: 6px;
				}
			}
		}

		li+li {
			margin-top: 16px;

			@media (max-width:$md) {
				margin-top: 8px;
			}
		}
	}

	&__pray {
		background: #F6F6F6;
		border-radius: 24px;
		width: 524px;
		padding: 25px;
		margin-top: 60px;
		position: relative;

		@media (max-width:$md) {
			display: none;
		}

		&-img {
			position: absolute;
			right: 0;
			bottom: 0;
			border-radius: 0 0 24px 0;
			overflow: hidden;

		}
	}

	&__img {
		position: absolute;
		left: 50%;
		right: 0;
		top: 0;
		height: 100%;
		display: flex;

		@media (max-width:$lg) {
			left: 75%;
		}

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-position: left center;
			object-fit: none;
		}
	}
}

.fitches {
	padding-top: 0;
	padding-bottom: 0;
	position: relative;
	z-index: 2;
	background: #FFFFFF;

	&-block {
		background: #FFFFFF;
		border: 1px solid #F1F1F1;
		box-shadow: 0px 16px 20px rgba(35, 35, 35, 0.08);
		border-radius: 16px;
		padding: 25px 40px;
		position: relative;
		margin-bottom: -62px;

		.slider-prev {
			top: calc(50% - var(--size) / 2);
			right: auto;
			left: -16px;
		}

		.slider-next {
			top: calc(50% - var(--size) / 2);
			right: -16px;
			left: auto;
		}
	}

	&-item {
		display: flex;
		align-items: center;

		.icon {
			font-size: 48px;
			margin-right: 24px;
			color: var(--color-primary);
		}
	}
}

.section-rounded {
	border-radius: 16px;
	width: calc(100% - 30px);
	margin: 0 auto;
	padding-left: calc(50% - var(--section-width) / 2 - 15px);
	padding-right: calc(50% - var(--section-width) / 2 - 15px);
}

.title {
	font-weight: 600;
	font-size: 42px;
	text-align: center;
	line-height: 1.1;

	@media (max-width:$lg) {
		font-size: 36px;
	}
}

.subtitle {
	font-family: var(--font-alt);
	font-size: 16px;
	text-align: center;
}

.types {
	background: #F6F6F6;
	padding-top: 120px;
	padding-bottom: 64px;

	&__title {
		margin-bottom: 8px;
	}

	&__subtitle {
		margin-bottom: 48px;
	}

	&-item {
		background: rgba(255, 255, 255, 0.5);
		border-radius: 16px;
		padding-bottom: 22px;

		&__img {
			height: 248px;

			img {
				width: 100%;
				height: 100%;
				object-fit: scale-down;
			}
		}
	}

	&__sign {
		width: max-content;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		font-weight: 600;
		font-size: 16px;
		font-family: var(--font-alt);
		margin-top: 24px;

		background: linear-gradient(268.56deg, rgba(235, 61, 50, 0.7) 1.16%, rgba(235, 61, 50, 0) 51.23%), #2B2D2E;
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		text-fill-color: transparent;

		img {
			display: block;
			margin-top: 2px;
		}
	}
}

.advantages {
	padding-top: 58px;
	padding-bottom: 78px;
	background: #FFFFFF;

	&__title {
		margin-bottom: 8px;
	}

	&__subtitle {
		margin-bottom: 40px;
	}

	&-item {
		display: flex;
		align-items: center;

		.icon {
			font-size: 48px;
			margin-right: 20px;
		}
	}
}

.pray {
	&-form {
		background: #353332;
		border-radius: 24px;
	}
}