@import '../ui/scss/_variables.scss';
@import '../ui/scss/_functions.scss';

:root {
	@include getColors(#EB3D32, "primary");
	@include getColors(#CE9B44, "sec");
	@include getColors(#0092E4, "blue");
	@include getColors(#FF9820, "yellow");
	@include getColors(#31A043, "green");
	@include getColors(#C2332A, "red");
	@include getColors(#828A99, "icon");
	@include getColors(#2B2D2E, "text");

	--bg1: #F6F6F6;
	--bg2: #F4F5F6;
	--bg3: #FFFFFF;

	--spacing: 4px;

	--radius-small : 8px;
	--radius-middle: 12px;
	--radius-large : 16px;

	--media-lg: #{$lg};
	--media-md: #{$md};
	--media-sm: #{$sm};

	--font-base: 'Manrope', Arial, Helvetica, sans-serif;
	--font-alt : 'Inter', Arial, Helvetica, sans-serif;

	--zi-l1: 321;
	--zi-l2: 322;
	--zi-l3: 323;
	--zi-l4: 324;
	--zi-l5: 325;
	--zi-l6: 326;
	--zi-l7: 327;
	--zi-l8: 328;
	--zi-l9: 329;
}

[data-theme="dark"] {
	@include getColors(#ffffff, text);

	--bg1: #181818;
	--bg2: #282828;
	--bg3: #323232;
}

body {
	color         : var(--color-text);
	min-height    : 100vh;
	display       : flex;
	flex-direction: column;
	background    : var(--bg1);

	* {
		font-family: var(--font-base);
	}

	&.menu-open {
		overflow: hidden;
	}

}

.active-enabled {
	display: none !important;
}

.toggle-active,
.tab-active,
.active {
	.active-disabled {
		display: none !important;
	}

	.active-enabled {
		display: flex !important;
	}
}

.nav {
	display        : flex;
	align-items    : center;
	justify-content: space-between;
	padding-top    : 16px;
	padding-bottom : 16px;
	position       : fixed;
	width          : 100%;
	left           : 0;
	top            : 0;
	z-index        : var(--zi-l2);
	background     : #ECECEC;
	transition     : .25s ease;

	@media (max-width:$lg) {
		display: none;
	}

	&:not(.scrolled) {
		transform     : translateY(-100%);
		pointer-events: none;
	}

	&__item {
		font-weight: 400;
		position   : relative;

		&:before {
			content : '';
			position: absolute;
			inset   : -16px;
		}

		@media(hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.menu {
	position      : fixed;
	left          : 0;
	top           : 0;
	height        : 100%;
	width         : 351px;
	z-index       : var(--zi-l5);
	background    : var(--bg3);
	overflow      : auto;
	display       : flex;
	flex-direction: column;
	transition    : .25s ease;

	&:not(.toggle-active) {
		opacity       : 0;
		transform     : translateX(-100%);
		pointer-events: none;
	}


	&__header {
		padding-left : 15px;
		padding-right: 15px;
	}

	&-shadow {
		position  : fixed;
		left      : 0;
		top       : 0;
		width     : 100%;
		height    : 100%;
		background: rgba(0, 0, 0, 0.5);
		z-index   : var(--zi-l4);
		transition: .25s ease;
	}

	&:not(.toggle-active)+&-shadow {
		opacity       : 0;
		pointer-events: none;
	}

	&-contact {
		display        : flex;
		align-items    : center;
		justify-content: flex-start;

		.icon {
			font-size   : 32px;
			color       : var(--color-primary);
			margin-right: 16px;
		}
	}
}

.header {
	display    : flex;
	align-items: center;
	padding-top: 24px;
	background : #FFFFFF;

	@media (max-width:$lg) {
		background    : #F6F6F6;
		padding-top   : 6px;
		padding-bottom: 6px;
		position      : sticky;
		top           : 0;
		z-index       : var(--zi-l3);

	}

	&-logo {
		display     : flex;
		align-items : center;
		margin-right: auto;

		&__img {
			@media (max-width:$lg) {
				width: 40px;
			}
		}
	}

	&-contact {
		display    : flex;
		align-items: center;

		@media (max-width:$lg) {
			display: none;
		}

		&+& {
			margin-left: 60px;
		}

		.icon {
			font-size   : 32px;
			color       : var(--color-primary);
			margin-right: 16px;
		}
	}
}

.started {
	padding-top   : 66px;
	padding-bottom: 52px;
	position      : relative;
	background    : #FFFFFF;
	overflow      : hidden;

	@media (max-width:$md) {
		padding-top   : 24px;
		padding-bottom: 20px;
	}

	&__content {
		position: relative;
		z-index : 2;
	}

	&__title {
		font-weight  : 800;
		font-size    : 48px;
		margin-bottom: 18px;
		line-height  : 125%;

		@media (max-width:$lg) {
			font-size: 36px;
		}

		@media (max-width:$md) {
			font-size    : 24px;
			margin-bottom: 12px;
		}
	}

	&__desc {
		font-family: var(--font-alt);
		font-style : normal;
		font-weight: 400;
		font-size  : 22px;

		@media (max-width:$lg) {
			font-size: 18px;
		}

		@media (max-width:$md) {
			font-size: 16px;
		}
	}

	&__list {
		margin-top: 40px;

		@media (max-width:$md) {
			margin-top: 20px;
		}

		li {
			display    : flex;
			align-items: center;

			@media (max-width:$md) {
				font-size: 12px;
			}

			.icon {
				font-size   : 30px;
				margin-right: 10px;
				color       : var(--color-primary);

				@media (max-width:$md) {
					font-size   : 24px;
					margin-right: 6px;
				}
			}
		}

		li+li {
			margin-top: 16px;

			@media (max-width:$md) {
				margin-top: 8px;
			}
		}
	}

	&__pray {
		background   : #F6F6F6;
		border-radius: 24px;
		width        : 524px;
		padding      : 25px;
		margin-top   : 60px;
		position     : relative;

		@media (max-width:$md) {
			display: none;
		}

		&-img {
			position     : absolute;
			right        : 0;
			bottom       : 0;
			border-radius: 0 0 24px 0;
			overflow     : hidden;

		}
	}

	&__form {
		width     : 255px;
		margin-top: 42px;

		@media (min-width:$md) {
			display: none;
		}
	}

	&__img {
		position: absolute;
		left    : 50%;
		right   : 0;
		top     : 0;
		height  : 100%;
		display : flex;

		@media (max-width:$lg) {
			left: 68%;
		}

		@media (max-width:$md) {
			top   : auto;
			left  : 254px;
			height: 332px;
			bottom: 38px;
		}

		img {
			display        : block;
			width          : 100%;
			height         : 100%;
			object-position: left center;
			object-fit     : none;

			@media (max-width:$md) {
				object-fit: cover;
			}
		}
	}
}

.fitches {
	padding-top   : 0;
	padding-bottom: 0;

	background: #FFFFFF;

	@media (max-width:$md) {
		padding-left : 24px;
		padding-right: 24px;
	}

	&-block {
		background   : #FFFFFF;
		border       : 1px solid #F1F1F1;
		box-shadow   : 0px 16px 20px rgba(35, 35, 35, 0.08);
		border-radius: 16px;
		padding      : 25px 40px;
		position     : relative;
		margin-bottom: -62px;
		position     : relative;
		z-index      : 2;

		@media (max-width:$md) {
			padding: 12px 20px;
		}

		.swiper-slide {
			@media (max-width:$md) {
				align-self: center;
			}
		}

		.slider-prev {
			top  : calc(50% - var(--size) / 2);
			right: auto;
			left : -16px;
		}

		.slider-next {
			top  : calc(50% - var(--size) / 2);
			right: -16px;
			left : auto;
		}
	}

	&-item {
		display    : flex;
		align-items: center;



		.icon {
			font-size   : 48px;
			margin-right: 24px;
			color       : var(--color-primary);

			@media (max-width:$md) {
				font-size   : 38px;
				margin-right: 16px;
			}
		}
	}
}

.section-rounded {
	border-radius: 16px;
	width        : calc(100% - 30px);
	margin       : 0 auto;
	padding-left : calc(50% - var(--section-width) / 2 - 15px);
	padding-right: calc(50% - var(--section-width) / 2 - 15px);
}

.title {
	font-weight: 600;
	font-size  : 42px;
	text-align : center;
	line-height: 1.1;


	@media (max-width:$lg) {
		font-size: 36px;

	}

	@media(max-width: $md) {
		font-size: 24px;
	}

}

.subtitle {
	font-family: var(--font-alt);
	font-size  : 16px;
	text-align : center;

	@media(max-width: $md) {
		font-size: 12px;
		opacity  : 0.8;
	}
}

.types {
	background    : #F6F6F6;
	padding-top   : 120px;
	padding-bottom: 64px;

	@media (max-width:$lg) {
		padding-bottom: 22px;
	}

	@media (max-width:$md) {
		padding-top: 84px;
	}

	&__title {
		margin-bottom: 8px;
	}

	&__subtitle {
		margin-bottom: 48px;

		@media (max-width:$md) {
			margin-bottom: 30px;
		}
	}

	&-item {
		background    : rgba(255, 255, 255, 0.5);
		border-radius : 16px;
		padding-bottom: 22px;

		&__img {
			height: 248px;

			@media (max-width:$md) {
				height        : 160px;
				padding-top   : 15px;
				padding-bottom: 15px;
			}

			img {
				width     : 100%;
				height    : 100%;
				object-fit: scale-down;
			}
		}
	}

	&__sign {
		width         : max-content;
		margin-left   : auto;
		margin-right  : auto;
		display       : flex;
		flex-direction: column;
		align-items   : center;
		font-weight   : 600;
		font-size     : 16px;
		font-family   : var(--font-alt);
		margin-top    : 24px;

		background             : linear-gradient(268.56deg, rgba(235, 61, 50, 0.7) 1.16%, rgba(235, 61, 50, 0) 51.23%), #2B2D2E;
		-webkit-background-clip: text;
		background-clip        : text;
		-webkit-text-fill-color: transparent;
		text-fill-color        : transparent;

		img {
			display   : block;
			margin-top: 2px;
		}
	}
}

.advantages {
	padding-top   : 58px;
	padding-bottom: 78px;
	background    : #FFFFFF;

	@media (max-width:$lg) {
		background    : none;
		padding-bottom: 22px;
		padding-top   : 22px;
	}

	&__title {
		margin-bottom: 8px;
	}

	&__subtitle {
		margin-bottom: 40px;

		@media (max-width:$md) {
			margin-bottom: 28px;
		}
	}

	&-slider {
		position: relative;

		.swiper {
			@media (max-width:$lg) {
				background   : #FFFFFF;
				border-radius: 16px;
				padding      : 24px 20px;
			}

		}

		.swiper-wrapper {
			display              : grid;
			grid-template-columns: 1fr 1fr 1fr;
			min-width            : 100%;

			@media (min-width:$lg) {
				transform: none !important;
				grid-gap : 40px;

			}

			@media (max-width:$lg) {
				grid-template-columns: auto;
				grid-template-rows   : 1fr 1fr;
				grid-auto-flow       : column;
				transform            : none;
			}
		}

		.swiper-slide {
			@media (min-width:$lg) {
				margin: 0 !important;
			}
		}

		.slider-prev {
			top  : calc(50% - var(--size) / 2);
			right: auto;
			left : -8px;
		}

		.slider-next {
			top  : calc(50% - var(--size) / 2);
			right: -8px;
			left : auto;
		}
	}

	&-item {
		display    : flex;
		align-items: center;

		.icon {
			font-size   : 48px;
			margin-right: 20px;

			@media (max-width:$md) {
				font-size   : 36px;
				margin-right: 15px;
			}
		}
	}
}

.with-suggest {
	position: relative;
	z-index : 321;
}

.reviews {
	background-color: rgba(255, 255, 255, 0.8);
	border-radius   : 16px;
	margin          : 0 16px;
	padding-top     : 56px;
	padding-bottom  : 70px;

	&__title {
		margin-bottom: 8px;
	}

	&__subtitle {
		margin-bottom: 52px;
	}

	&__item {
		border-radius: 16px;
		overflow     : hidden;
	}

	&__img {
		width     : 100%;
		max-width : 100%;
		object-fit: contain;
	}

	@media(max-width: $md) {
		margin        : 0;
		border-radius : 0;
		padding-top   : 26px;
		padding-bottom: 48px;

		&__title {
			margin-bottom: 8px;
		}

		&__subtitle {
			margin-bottom: 30px;
		}

		&__item {
			max-width: 285px;
			margin   : 0 auto;
		}
	}
}

.slider-reviews {
	// &__btn {
	// 	width           : 44px;
	// 	height          : 44px;
	// 	box-shadow      : 0px 6px 15px rgba(0, 0, 0, 0.16);
	// 	border-radius   : 50%;
	// 	background-color: #fff;
	// 	display         : flex;
	// 	align-items     : center;
	// 	justify-content : center;
	// 	font-size       : 10px;
	// }
}

.questions {
	padding-top   : 56px;
	padding-bottom: 70px;

	&__title {
		margin-bottom: 8px;
	}

	&__subtitle {
		margin-bottom: 52px;
	}

	&__items {
		display       : flex;
		flex-direction: column;
	}

	&__item {
		padding   : 20px 0;
		border-top: 1px solid #D9D9D9;

		&:last-child {
			border-bottom: 1px solid #D9D9D9;
		}

		&.toggle-active .questions__line--2 {
			transform: rotate(0);
		}
	}

	&__head {
		display        : flex;
		justify-content: space-between;
		align-items    : center;
		cursor         : pointer;
		position       : relative;

		&:before {
			content : '';
			position: absolute;
			inset   : -10px;
		}
	}

	&__name {
		display    : flex;
		align-items: center;

		&-text {
			font-weight: 700;
			font-size  : 20px;
			line-height: 1.1;
			color      : #2B2D2E;
		}
	}

	&__icon {
		font-size: 22px;
		color    : var(--color-primary);
	}

	&__sign {
		position : relative;
		min-width: 16px;
		height   : 16px;
		cursor   : pointer;
	}

	&__line {
		width           : 16px;
		height          : 3px;
		border-radius   : 4px;
		background-color: var(--color-primary);
		position        : absolute;
		top             : 0;
		left            : 0;
		bottom          : 0;
		right           : 0;
		margin          : auto;
		transition      : 0.2s ease;

		&--2 {
			transform: rotate(90deg);
		}
	}

	&__text {
		opacity    : 0.8;
		font-weight: 400;
		font-size  : 16px;
	}

	@media(max-width: $md) {
		padding-top   : 43px;
		padding-bottom: 23px;

		&__title {
			margin-bottom: 8px;
		}

		&__subtitle {
			margin-bottom: 30px;
		}

		&__item {
			background-color: #FFFFFF;
			border-radius   : 12px;
			padding         : 0;
			border          : none !important;
			margin-bottom   : 8px;
		}

		&__head {
			padding: 15px;
		}

		&__icon {
			font-size: 16px;
		}

		&__name {
			margin-right: 10px;

			&-text {
				font-size: 14px;
			}
		}

		&__sign {
			min-width: 14px;
			height   : 14px;
		}

		&__line {
			width: 14px;
		}

		&__text {
			border-top : 1px solid #D9D9D9;
			padding    : 15px;
			font-weight: 400;
			font-size  : 12px;
			opacity    : 0.8;
		}
	}
}

.pray {
	padding-top   : 70px;
	padding-bottom: 38px;

	@media (max-width:$md) {
		padding-bottom: 22px;
		padding-top   : 22px;
	}

	&-form {
		background   : #353332;
		border-radius: 24px;
		position     : relative;

		&:before {
			content   : '';
			position  : absolute;
			left      : 0;
			top       : 0;
			right     : 0;
			bottom    : -18px;
			background: url("../img/pray-boxes.png") no-repeat right / contain;

			@media (max-width:$lg) {
				display: none;
			}
		}

		&__header {
			padding      : 32px 72px;
			border-bottom: 1px solid rgba(255, 255, 255, 0.2);
			position     : relative;
			z-index      : 2;
		}

		&__sect {
			padding      : 40px 72px;
			border-bottom: 1px solid rgba(255, 255, 255, 0.2);
			position     : relative;
			z-index      : 2;
		}

		&__footer {
			padding : 24px 72px 64px;
			position: relative;
			z-index : 2;
		}

		&__header,
		&__sect,
		&__footer {
			@media (max-width:$lg) {
				padding-left : 32px;
				padding-right: 32px;
			}

			@media (max-width:$md) {
				padding: 24px;
			}

		}
	}
}

.park {
	padding-left  : 15px;
	padding-right : 15px;
	padding-bottom: 90px;
	padding-top   : 38px;

	@media (max-width:$md) {
		padding-top   : 22px;
		padding-bottom: 42px;
	}

	&__title {
		margin-bottom: 8px;
	}

	&__subtitle {
		margin-bottom: 52px;

		@media (max-width:$md) {
			margin-bottom: 28px;
		}
	}

	&-item {
		background    : #FFFFFF;
		border-radius : 16px;
		overflow      : hidden;
		transition    : .25s ease;
		cursor        : pointer;
		display       : flex;
		flex-direction: column;

		@media(hover) {
			&:hover {
				box-shadow: 0px 16px 20px rgba(35, 35, 35, 0.08);
			}
		}

		&__img {
			&:before {
				content       : '';
				padding-bottom: calc(100% * 326 / 458);
			}
		}

		&__content {
			padding        : 16px 15px 22px;
			flex-grow      : 1;
			display        : flex;
			flex-direction : column;
			justify-content: center;

			@media (max-width:$md) {
				padding: 8px;

				* {
					display           : -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					overflow          : hidden;
				}
			}

		}
	}

}

.logistician {
	padding-bottom: 70px;

	&__block {
		background     : #353332;
		border-radius  : 16px;
		padding        : 40px;
		display        : flex;
		align-items    : center;
		justify-content: space-between;
		color          : #fff;
	}

	&__info {
		display        : flex;
		flex-direction : column;
		justify-content: center;
		padding-left   : 60px;
	}

	&__title {
		font-weight  : 600;
		font-size    : 36px;
		margin-bottom: 13px;
		line-height  : 1.2;
	}

	&__subtitle {
		font-weight: 400;
		font-size  : 22px;
		line-height: 1.1;
	}

	&__form {
		width    : 100%;
		max-width: 620px;
	}

	&__name {
		font-size: 20px;
	}

	&__textarea {
		height: 160px;
	}

	&__politic {
		opacity    : 0.5;
		font-weight: 400;
		font-size  : 12px;
		line-height: 14px;
	}

	&__btn {
		width: 200px;
	}

	@media(max-width: $lg) {
		&__block {
			flex-direction : column;
			align-items    : flex-start;
			justify-content: flex-start;
		}

		&__info {
			padding-left : 0;
			margin-bottom: 40px;
		}
	}

	@media(max-width: $md) {
		& {
			padding-bottom: 40px;
		}

		&__block {
			padding: 0;
		}

		&__info {
			width        : 100%;
			padding      : 25px;
			margin-bottom: 0;
			border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		}

		&__title {
			font-size    : 24px;
			margin-bottom: 9px;
		}

		&__subtitle {
			font-size: 16px;
		}

		&__form {
			padding: 25px;
		}

		&__name {
			display: none;
		}

		&__items {
			flex-direction: column;
			align-items   : flex-start;
		}

		&__textarea {
			height: 120px;
		}

		&__btn {
			width        : 100%;
			margin-bottom: 15px;
		}

		&__politic {
			font-size: 10px;
		}
	}
}

.footer {
	color           : #fff;
	padding-top     : 34px;
	padding-bottom  : 54px;
	background-color: #413E3D;
	overflow        : hidden;

	&__top {
		display        : flex;
		align-items    : center;
		justify-content: space-between;
		margin-bottom  : 23px;
	}

	&__title {
		font-weight: 600;
		font-size  : 42px;
		line-height: 57px;
	}

	&__map {
		margin-bottom: 47px;
	}

	&__head {
		width        : max-content;
		font-weight  : 600;
		font-size    : 14px;
		border-bottom: 1px dashed rgba(255, 255, 255, 0.6);
		position     : relative;
		cursor       : pointer;

		&::after,
		&::before {
			content         : "";
			background-color: rgba(217, 217, 217, 0.2);
			width           : 540px;
			height          : 1px;
			position        : absolute;
			top             : 0;
			bottom          : 0;
			margin          : auto 0;
		}

		&::before {
			left: -550px;
		}

		&::after {
			right: -550px;
		}

		&-item {
			&--2 {
				display: none;
			}
		}
	}

	&__bottom {
		display        : flex;
		align-items    : center;
		justify-content: space-between;
	}

	&__item {
		display    : flex;
		align-items: center;
	}

	&__img {
		margin-right: 24px;
	}

	&__info {
		display       : flex;
		flex-direction: column;
	}

	&__subtitle {
		font-weight: 700;
		font-size  : 22px;
		line-height: 30px;
	}

	&__img {
		&--1 {
			font-size: 82px;
		}

		&--2 {
			font-size: 50px;
		}

		&--3 {
			font-size: 50px;
		}
	}

	&__link {
		font-weight: 600;

		&--mail {
			font-size: 20px;
		}

		&--tel {
			font-size: 22px;
		}

		&:hover {
			text-decoration: underline;
		}
	}

	&__text {
		width: max-content;

		&--1 {
			font-weight          : 300;
			font-size            : 14px;
			line-height          : 17px;
			font-feature-settings: 'calt'off, 'liga'off;
			opacity              : 0.6;
		}

		&--2 {
			font-weight: 400;
			font-size  : 16px;
		}

		&--3 {
			font-weight  : 600;
			font-size    : 16px;
			border-bottom: 2px dotted #fff;
			opacity      : 0.6;
		}
	}

	@media(max-width: $lg) {
		&__bottom {
			flex-direction : column;
			align-items    : flex-start;
			justify-content: flex-start;
		}

		&__item {
			margin-bottom: 24px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&__img {
			font-size   : 68px;
			margin-right: 14px;
		}
	}

	@media(max-width: $md) {
		padding-top   : 26px;
		padding-bottom: 52px;

		&__top {
			margin-bottom: 24px;
		}

		&__title {
			font-weight: 600;
			font-size  : 24px;
		}

		&__btn {
			display: none;
		}

		&__map {
			display: none;
		}

		&__item {
			&--mail {
				display: none;
			}
		}
	}

	&__text {
		&--1 {
			font-size: 12px;
		}

		&--3 {
			font-size: 12px;
		}
	}
}

.map {
	margin-top   : 50px;
	height       : 300px;
	border-radius: 16px;
	overflow     : hidden;
}

.-el {
	&-hid- {
		transition-property       : opacity, transform;
		transition-duration       : 0.35s;
		transition-timing-function: ease;
	}

	&-up-:not(&-show-) {
		transform: translateY(50px);
		opacity  : 0;
	}

	&-down-:not(&-show-) {
		transform: translateY(-50px);
		opacity  : 0;
	}

	&-left-:not(&-show-) {
		transform: translateX(50px);
		opacity  : 0;
	}

	&-right-:not(&-show-) {
		transform: translateX(-50px);
		opacity  : 0;
	}

	// &show-:not(&show-) {
	//     opacity: 1;
	//     transform: translate(0);
	// }
}

$transition: 'ease',
'ease-in',
'ease-out',
'ease-in-out',
'linear';

@each $value in $transition {
	.-#{$value}- {
		transition-timing-function: #{$value};
	}
}

@for $i from 1 to 11 {
	.-duration-#{calc($i * 100)}- {
		transition-duration: #{calc($i / 10) + s};
	}
}

@for $i from 1 to 11 {
	.-delay-#{calc($i * 100)}- {
		transition-delay: #{calc($i / 10) + s};
	}
}